[submodule "mavis"]
	path = mavis
	url = https://github.com/sparcians/mavis.git
[submodule "stf_lib"]
	path = stf_lib
	url = https://github.com/sparcians/stf_lib.git
[submodule "fsl"]
	path = fsl
	url = https://github.com/Condor-Performance-Modeling/fsl
